.Header{
    background-color: #EB455F;
    z-index: 99999;
    .RegBtn {
            color: black;
            border-radius: 10px;
            &:hover {
                cursor: pointer ;
            }
            background-color: #DFD3C3 !important;
        }
}