.HomePageComponent{
    background-color: #DFD3C3;
    .Tabs{
        .Option{
            .Option_1{
                background-color: #DFD3C3;
                color: rgba(0, 0, 0, 0.6);
                border: 2px solid rgba(0, 0, 0, 0.6);
                border-radius: 40px;

            }
            .Option_2{
                background-color: #DFD3C3;
                color: rgba(0, 0, 0, 0.6);
                border-top: 2px solid rgba(0, 0, 0, 0.6);
                border-bottom: 2px solid rgba(0, 0, 0, 0.6);
                border-right: 2px solid rgba(0, 0, 0, 0.6);
            }
            .react-tabs__tab--selected {
                background: #EB455F  ;
                color:white;
            }
        }
    }  

}