.RoleHeader {
    padding-top: 40px;
    text-align: center;
    .header1 {
      font-size: 19px;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
    }
    .header2 {
      font-size: 38px;
      font-weight: 600;
      color: rgb(225, 29, 29);
      font-family: Arial, Helvetica, sans-serif;
    }
  }